#slider {
  width: 100%;
  overflow: hidden;
}

#square {
  width: 800px; /* Adjust width as needed */
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.square-game {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-color: red; /* Adjust color as needed */
  margin-right: 10px; /* Adjust spacing between squares as needed */
}
 
.carousel {
  width: 100%;
}

.first {
  height: 400px; /* Adjust the desired height of each slide */
  width: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and transparency */
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-caption h3 {
  color: #fff; /* Adjust the color of the caption text */
}

.carousel-caption p {
  color: #ccc; /* Adjust the color of the caption description text */
}