.box {
  padding: 20px 60px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
  width: calc(100% - 150px); /* adjust the width to accommodate the logo */
  max-height: calc(100vh - 160px); /* adjust the max height to fit within the viewport */
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.logo {
  width: 150px;
  overflow-y: auto;
}

.logo img {
  width: 100px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.heading {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.topic {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: bold;
}

a {
  color: white;
  margin-bottom: 12px;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: green;
  transition: 200ms ease-in;
}

@media (max-width: 1000px) {
  .container {
    margin-left: 0;
    width: 100%; /* adjust the width to occupy the full width */
    max-height: none; /* remove the max height to allow full content display */
  }
}

.copyright{
  color: white;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 12px;
  text-decoration: none;
}