@media (max-width: 768px) {
  .book-summary {
    display: none;
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    text-align: center;
    justify-content: center;
  }

  .left-section {
    order: 2;
    text-align: center;
  }

  .right-section {
    display: flex;
    order: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .image-box {
    width: 100%;
    max-width: 170%; /* Adjust the maximum width as needed */
    margin-bottom: 10px;
    text-align: center;
  }

  .carousel-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
}

.book-summary {
  max-height: 200vh;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  cursor: pointer;
}

.carousel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  opacity: 0.8;
  z-index: -1;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  filter: blur(30px);
  color: #000;
}

.background-tint-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 2); /* Dark tint color with opacity */
  z-index: -1;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7; /* Adjust the opacity value as needed */
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left-section {
  /* Add any existing styles for the left section */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 60%;
  color: white;
}

.mobile-image-container {
  text-align: center;
}

.mobile-image-box {
  width: 50%;
  height: auto;
}

.left-section {
  flex: 1;
  padding: 20px;
  max-width: 1500px;
}

.right-section {
  flex: 1;
  padding: 20px;
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.image-box {
  width: 250px;
  height: auto;
}

.carousel-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  margin: 0 10px;
  transition: background-color 0.3s;
  opacity: 0.3;
}

.carousel-button:hover {
  background-color: rgb(138, 135, 135);
}

.carousel-prev {
  order: 1; /* Move previous button to the left */
}

.carousel-next {
  order: 2; /* Move next button to the right */
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
  cursor: pointer;
  transition: width 0.3s, background-color 0.3s;
  position: relative;
}

.carousel-dot.active {
  width: 12px;
  height: 12px;
  background-color: #6b6161;
  position: relative;
  transform: translateX(-3.5px); /* Adjust the translation to center the dot */
}

.image-box {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.3s, opacity 0.3s;
}

.slide-in {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

