.rings {
  position: fixed;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: background-color 0.08s ease-out, border 0.08s ease-out;
  will-change: width, height, transform;
  z-index: 999;
  pointer-events: none;
  background-color: rgba(109, 197, 180, 0.65);
}

.rings.active {
  width: 40px;
  height: 40px;
  transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  background-color: rgba(109, 197, 180, 0.8);
}

.rings.shrink {
  width: 22px;
  height: 22px;
  transition: background-color 0.08s ease-out, border 0.08s ease-out, width 0.3s ease-out, height 0.3s ease-out;
}
