.main-box{
    margin: auto;
    margin-top: 50px;
    width: 90%;
}

.float-left{
    text-align: left;
}

.filter-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    margin-top: 30px;
}

/*filter button*/
.AllFilters{
    
}

#search-filter{
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: none;
}

.filter-button{
    text-align: left;
}

/*left navbar*/

.left-navbar {
    background-color: aqua;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px; /* Adjust the width as needed */
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 100;
    overflow-y: auto;
    transform: translateY(100%); /* Start the navbar offscreen */
    transition: transform 0.5s ease; /* Add a transition effect to the transform property */
}
  
  .left-navbar.show {
    transform: translateX(0);
  }
  
  .filter-section{
    text-align: left;
    margin-top: 20px;
  } 

  /*navbar content*/
  .navbar-title{
    text-align: left;
    margin-bottom: 20px;
  }

  .radio-text{
    margin-left: 10px;
  }

  #genre-filter {
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .custom-select {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .custom-select option {
    background-color: #fff;
    color: #333;
  }
  

/*sort button*/
#search-sort{
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sort-button{
    text-align: right;
}

#search-sort:hover{
  transform: scale(1.04);
  box-shadow: 0 5px 15px 0 rgba(160, 148, 148, 0.4);
}

/*content section*/
.content-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.book-item{
    max-height: 450px;
    border-radius: 10px;
    background-color: azure;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
}

.book-item:hover{
    box-shadow: 0 5px 15px 0 rgba(160, 148, 148, 0.4);
  border: 2px solid black;
}

.book-cover{
    margin-top: 10px;
    width: 180px;
    height: 270px;
}

.book-title{
    margin-bottom: 10px;
}

.book-author{
    margin-bottom: 10px;
}

.book-rating{
    margin-bottom: 10px;
}

/*author search*/
.filter-section {
  margin-bottom: 20px;
}

.select-menu {
  position: relative;
}

.text-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

datalist {
  position: absolute;
  width: 100%;
  top: 100%;  
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 0;
  transform: translateY(100%);
}

option {
  padding: 4px;
}

option:hover {
  background-color: #f2f2f2;
}



/*Page buttons*/
.muchmore{
    text-align: left;
    margin-top: 30px;
}

.slider-buttonsO {
  align-content: baseline;
  display: flex;
  justify-content: flex-start;
}

.slider-buttonO {
  margin-top: 10px;
  background-color: rgba(34, 34, 34, 0.075);
  border: 0;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.slider-buttonO:hover {
    background-color: rgba(34, 34, 34, 0.2);   
}

.page-buttonsO{
  align-content: baseline;
  display: flex;
  justify-content: flex-start;
}

.page-button{
  border-radius: 50%;
  margin-right: 10px;
  width: 37px;
  height: 37px;
  background-color: rgba(34, 34, 34, 0.075);
  color: black;
  font-weight: bold;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.page-button.active {
  border: 2px solid black; /* Add black border */
}